.mainContainer {
  padding-top: 30px;
}

.searchUserResult {
  display: none;
  padding-top: 20px;
}

.errorMessage {
  display: none;
  margin-top: 20px;
}

tbody {
  font-weight: bold;
}

#username {
  font-style: italic;
}

#fullname {
  margin-top: -3px;
}

#avatar {
  height: 80px;
  width: 80px;
  border-radius: 4%;
}